body{
  font-size: 20px;
}
h1{
  font-family: sans-serif;
  font-size: 65px;
  color: orange;
}
#list{
  background-color: springgreen;
}
p{
  font-weight: 600;
  font-size: 3em;
  text-align: center;

}
.back{
  background-color: steelblue;
}
#dec{
  text-align: justify;
  line-height: 2;
}
#ama{
  background-color: yellow;
}
#ver{
  background-color: red;
}
#mar{
  background-color: brown;
}
#dec{
  background-color: transparent;
}